body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium; 
    background-color: #754000; 
    color: #000000;
    background-image: url("Images/backimage.jpg");
}

.thumbnailimages {
display: block;
margin-left: auto;
margin-right: auto; 
}

h1, h2, h3 {
    text-align: center;
}

p, blockquote {
    text-align: center
}

a:link {
    color: #0A1236;
}

a:hover {
    color: #522E03;
}

a:visited {
    color: #52330E;
}

.tablePattern {
    margin: auto;
    width: 600px;
}
table {
    border: solid 1px #000000;
    border-spacing: 5px; 
    border-collapse: separate;
    padding: 3px;
    color: #000000;
    
}

th {
    border: solid 1px #000000; 
    width: 15%;
    border-spacing: 5px; 
    border-collapse: separate;
    background-color: #52330E;
}



td {
    border: solid 1px #000000; 
    width: 15%;
    border-spacing: 5px; 
    border-collapse: separate;
}




body {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: medium; 
    background-color: #754000; 
    color: #000000;
}

.thumbnailimages {
display: block;
margin-left: auto;
margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

p, blockquote {
    text-align: center
}

a:link {
    color: #0A1236;
}

a:hover {
    color: #522E03;
}

a:visited {
    color: #52330E;
}



.container{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 900px;
    background-color: #000000;
    padding: 3px 4px;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 900px;
    background-color: #fff;
    border: #754000;
    border-style: solid;
    border-width: 3px;
    padding: 3px 4px;
    
}

section {

}

nav {

}

article {

}

footer {
s